<html>

	<head>

		<title>
			Web Traffic Dashboard
		</title>

		<script type="text/javascript">
	      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	    </script>
	    <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
		<script src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='visualize.js') }}"></script>

	</head>

	<body onload="start_graphs()">

		<table>
			<tr>
				<td><div id="chart_clicks"></div></td>
				<td><div id="chart_volume"></div></td>
			</tr>			
		</table>
		
		<div id="chart_2xx_time"></div>
		<div id="chart_3xx_time"></div>
		<div id="chart_4xx_time"></div>
		
		<table>
			<tr>
				<td><div id="chart_1xx_time"></div></td>
				<td><div id="chart_5xx_time"></div></td>
			</tr>			
			<tr>
				<td><div id="chart_top_ip_visits"></div></td>
				<td><div id="chart_top_ip_volume"></div></td>
			</tr>
		</table>

	</body>

</html>